
<footer>

<div class="row">
     
    <div class="columns small-1">
        <div class="icon">
          <span class="icon">
            <i class="fab fa-twitter"></i>
          </span>
        </div>
    </div>
    <div class="columns small-1">
        <div class="icon">
            <span class="icon">
                <i class="fab fa-github"></i>
            </span>
        </div>
    </div>
    <div class="columns small-1">
        <div class="icon">
            <span class="icon">
              <i class="fab fa-twitter"></i>
            </span>
        </div>
    </div>

    <div class="columns small-9">
      <p>
        Developer Profile
      </p>
    </div>

</div>

</footer>