
<div class="container">
  <div class="row">
    <div class="columns small-12 medium-6 large-6">
      <div class="left-content">
        <h1 class="title" id="main-title">
          <span id="first">ABOUT </span><span id="meComp">ME</span>
        </h1>
        <p id="content">
          
        </p>
      </div>
    </div>
    <div class="columns small-12 medium-6 large-6">
      <div class="right-content">
          <div class="wrapCube">

            <div class="cube">
              <div class="cube-top"><span>Relentless</span></div>
              <div class="cube-front"><span>Inventive</span></div>
              <div class="cube-back">Ambitious</div>
              <div class="cube-bottom">Skilled</div>
            </div>
      
          </div>
      </div>
    </div>
  </div>
</div>