@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates");
@import url("https://fonts.googleapis.com/css?family=Raleway");

.wrapCube{
    top: 50%;
    left: 70%;
    width: 350px;
    height: 250px;
    position: absolute;
    box-shadow: 11px 11px 51px -7px #000;
    transform: translate(-50%, -50%);  
    text-align: center;
}

.cube, .cube div{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
}

.cube div span{
    font-family: Montserrat Alternates;
    display: block;
}

.cube-front{
    background-size: 100%;
    border: 10px solid #08FDD8;

}

.cube-bottom{
    background-size: 100%;
    transform: translate(0, -100%) rotateX(90deg);
    transform-origin: bottom;
    border: 10px solid #08FDD8;

}

.cube-back{
    background-size: 100%;
    transform: translate(0, -100%) rotateX(90deg);
    transform-origin: bottom;
    border: 10px solid #08FDD8;

}

.cube-top{
    background-size: 100%;
    transform: translate(0, -100%) rotateX(90deg);
    transform-origin: bottom;
    border: 10px solid #08FDD8;

}

.wrapCube:hover .cube{
    transform: translate(0,50%) rotateX(-90deg)
}

h1{
    font-weight: 900;
    -webkit-text-stroke-width: 3px;
    letter-spacing: 4px;
    margin-top: 200px;
    margin-left: 5px;

}

h1 #first{
    font-family: Raleway;
    color: #fff;
}

h1 #meComp{
    font-family: Montserrat Alternates;
    color: #08FDD8;
}
