
<div class="container">
  <div class="row">
    <div class="columns small-12 medium-6 large-6">
      <div class="left-content">
        <h1 class="title" id="main-title">
          ABOUT <span id="meComp">ME</span>
        </h1>
        <p id="content">

        </p>
      </div>
    </div>
    <div class="columns small-12 medium-6 large-6">
      <div class="right-content">
        <div class="cube">
          <div class="cube-top"></div>
          <div class="cube-front"></div>
          <div class="cube-back"></div>
          <div class="cube-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>