@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates");
@import url("https://fonts.googleapis.com/css?family=Raleway");
/*
.cube div{
    width: 350px;
    height: 250px;
    position: absolute;
    box-shadow: 11px 11px 51px -7px #000;
    text-align: center;
    border: 10px solid #08FDD8;
    font-size: 30px;
    font-family: Montserrat Alternates;
}

.cube{
    animation: cubeSpin 20s ease-in-out infinite;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 60px 60px 0;
    -ms-transform-origin: 60px 60px 0;
    transform-origin: 60px 60px 0;
    margin-top: 200px;
}


.cube-front{
    background: #4B4B4B;
    -webkit-transform: translateZ(60px);
    -ms-transform: translateZ(60px);
    transform: translateZ(60px);
}

.firstSide{
    -webkit-transform: rotateY(90deg) translateZ(60px); 
    -ms-transform: rotateY(90deg) translateZ(60px); 
    transform: rotateY(90deg) translateZ(60px);
}

.cube-top{
    background: #4B4B4B;
    transform: rotateY(0deg) rotateX(90deg) translateZ(60px); 

}

.cube-back{
    background: #4B4B4B;
    transform: rotateY(180deg) rotateZ(-180deg) translateZ(60px);

}

.secondSize{
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
}

.cube-bottom{
    background: #4B4B4B;
    transform: rotateX(-90deg) translateZ(60px);   
}

@-webkit-keyframes cubeSpin{
    25%{
        -webkit-transform: rotateX(0deg);
    }
    25%{
        -webkit-transform: rotateX(-90deg);
    }
    50%{
        -webkit-transform: rotateX(-180deg);
    }
    75%{
        -webkit-transform: rotateX(-270deg);
    }
    100%{
        -webkit-transform: rotateX(-360deg);
    }
}
*/

.cube-wrapper{
    perspective: 500px;
    perspective-origin: 50% 50%;
}

.cube{
    margin: auto;
    transform-style: preserve-3d;
    height: 200px;
    width: 200px;
    position: relative;
    margin-top: 300px;
}

.cube div{
    position: absolute;
    padding: 10px;
    padding-top: 60px;
    height: 100%;
    width: 100%;
    opacity: 0.95;
    background: #4B4B4B;
    border: 10px solid #08FDD8;
    color: #fff;
    font-family: Montserrat Alternates;
    text-align: center;
    transition: transform 0.2s ease-in;
    font-size: 30px;
}

.cube div span{
    margin-top: 100px;
}

.cube-front{
    transform: translateZ(100px);
}

.cube-back{
    transform: translateZ(-100px) rotateY(180deg);
}

.firstSide{
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right; 
}

.secondSide{
    transform-origin: center left;
    transform: rotateY(270deg) translateX(-100px);
}

.cube-top{
    transform: rotateX(-270deg) translateY(-100px);
    transform-origin: top center;
}

.cube-bottom{
    transform: rotateX(270deg) translateY(100px);
    transform-origin: bottom center;
}

@keyframes rotateCube{
    from{
        transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.cube-wrapper:hover .cube-front{
    transform: translateZ(200px);
}
.cube-wrapper:hover .cube-back{
    transform: translateZ(-200px) rotateY(180deg);
}

.cube-wrapper:hover .firstSide{
    transform: rotateY(-270deg) translateZ(100px) translateX(100px);
}

.cube-wrapper:hover .secondSide{
    transform: rotateY(270deg) translateZ(100px) translateX(-100px);
}

.cube-wrapper:hover .cube-top{
    transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
}

.cube-wrapper:hover .cube-bottom{
    transform: rotateX(270deg) translateZ(100px) translateY(100px);
}
.cube{
    animation: rotateCube 15s infinite linear;
}

h1{
    font-weight: 900;
    -webkit-text-stroke-width: 3px;
    letter-spacing: 4px;
    margin-top: 250px;
    margin-left: 5px;

}

h1 #first{
    font-family: Raleway;
    color: #fff;
}

h1 #meComp{
    font-family: Montserrat Alternates;
    color: #08FDD8;
}

p{
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    font-family: Raleway;
    font-weight: 100;
    margin-top: 20px;
}
