
<div class="container">
  <div class="row">
    <div class="columns small-12 medium-6 large-6">
      <div class="left-content">
        <h1 class="title" id="main-title">
          <span id="first">ABOUT </span><span id="meComp">ME</span>
        </h1>
        <p id="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        </p>
      </div>
    </div>
    <div class="columns small-12 medium-6 large-6">
      <div class="right-content">
        <div class="cube-wrapper">
            <div class="cube">
              <div class="cube-front"><span>Inventive</span></div>
              <div class="cube-top"><span>Relentless</span></div>
              <div class="cube-back"><span>Ambitious</span></div>
              <div class="cube-bottom"><span>Skilled</span></div>
              <div class="firstSide"><span>Determined</span></div>
              <div class="secondSide"><span>Left</span></div>
            </div>
          </div>   
      </div>
    </div>
  </div>
</div>