

<div class="contact-main">
  <div class="row">
    <div class="columns small-12">
      <div class="row">
        <div class="columns small-12">
          <h1>Contact me</h1>
        </div>
      </div>
      <div class="row">
        <div class="columns small-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
      </div>
      <div class="row">
        <div class="columns small-12">
          Name
        </div>
      </div>
      <div class="row">
        <div class="columns small-12">
          Email
        </div>
      </div>
      <div class="row">
        <div class="columns small-12">
          Message
        </div>
      </div>
      <div class="row">
        <div class="columns small-12">
          <a routerLink="/" class="cta-btn btn">Let's Talk</a>
        </div>
      </div>
    </div>
  </div>
</div>