
#post-body{
    /*transform: translate(-50%, -50%);*/
    width: 100%;
    height: 100%;
    font-family: Raleway;
}

.post-title{
    font-size: 50px;
    color: #fff;
    font-weight: 900;
    -webkit-text-stroke: 2px;
    letter-spacing: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.post-content{
    font-size: 20px;
    color: #08FDD8;
}

.btn{
    padding: 10px 20px;
    color: #08FDD8;
    border: 1px solid #08FDD8;
    background: transparent;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 3px;
    font-family: Raleway;
}
