
<div class="blog-main">
  <div class="row">
    <div class="columns small-12">
      <h1 id="pageHeader">BLO<span>G</span></h1>
      <p id="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12 medium-6 large-4" id="post">
      <div class="post-container">
        <div class="row">
          <div class="columns small-12">
            <h1 id="header">Post Header</h1>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12">
            <a routerLink="/post" class="cta-btn btn">Dig deeper</a>
          </div>
        </div>
      </div>
      <a routerLink="/post" class="cta-btn btn">Dig deeper</a>
    </div>
    <div class="columns small-12 medium-6 large-4" id="post">
      <div class="post-container">
        <div class="row">
          <div class="columns small-12">
            <h1 id="header">Post Header</h1>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12">
            <a routerLink="/post" class="cta-btn btn">Dig deeper</a>
          </div>
        </div>
      </div>
    </div>
    <div class="columns small-12 medium-6 large-4" id="post">
      <div class="post-container">
        <div class="row">
          <div class="columns small-12">
            <h1 id="header">Post Header</h1>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12">
            <a routerLink="/post" class="cta-btn btn">Dig deeper</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div class="columns small-12 medium-6 large-3" *ngFor="let post of posts"></div>-->