
#postColumn{
    margin-left: 0;
}

#pageHeader{
    font-family: Raleway;
    font-size: 50px;
    text-align: center;
    -webkit-text-stroke: 3px;
    color: #fff;
    font-weight: 900;
    margin-top: 150px;
    display: block;
    margin-bottom: 10px;
}

#subtitle{
    font-family: Raleway;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-bottom: 35px;

}

#pageHeader > span{
    font-family: Montserrat Alternates;
    color: #08FDD8;
}

.backgroundImage{
    z-index: 0;
    opacity: 0.6;

    /*position: absolute;*/
    /*top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-repeat: none;
    background-size: 100% 100%;*/

}

.backgroundImage img{
    border-radius: 5px;
    /*box-shadow: 5px 5px #888888;*/
}



.contentContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#postColumn{
    position: relative;
    border-radius: 10px;
}

.post-container{
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    text-align: center;
    background-repeat: none;
    background-size: 100% 100%;
    padding: 10px;
    border-radius: 10px;
    animation-name: changeOpacityBack;
    animation-duration: 1s;
    
}

.btn{
    border: 2px solid #08FDD8;
    border-radius: 50%;
    padding: 20px;
    color: #08FDD8;
    font-size: 20px;
    font-family: Raleway;
    font-weight: 700;
    margin: auto;
    opacity: 1;
    justify-items: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    transform: translate(-50%, -50%);
    margin-top: 35%;
    filter: blur(0px);
}

.btn:hover{
    background: #08FDD8;
    color:inherit;
    font-weight: 900;
    text-decoration: none;
    opacity: 1;
    filter: blur(0px);
}

.post-container:hover .overlay{
    animation-name: 'showButton';
    animation-duration: 1s;
    display: block;
}

.post-container:hover{
    animation: 'changeOpacity';
    animation-duration: 1s;
    filter: blur(0px);
    background-size: 0% 0%;

}

.post-container:hover .backgroundImage{
    filter: blur(1.5px);
    transition: blur 2s ease-in;
}
.post-container:hover #header{
    animation: 'changeOp';
    animation-duration: 1s;
    opacity: 0.02;
}

@keyframes showButton{
    from{
        opacity: 0;
        filter: blur(0px);
        
    }
    to{
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes hideButton{
    from{
        opacity: 1;
        filter: blur(0px);
    }
    to{
        opacity: 0;
        filter: blur(0px);
    }
}

@keyframes changeOpacity{
    from{
        opacity: 1;
        
    }
    to{
        opacity: 0.5;
    }
}

@keyframes changeOpacityBack{
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}

@keyframes changeOp{
    from{
        opacity: 1;

    }
    to{
        opacity: 0.02;
    }
}

@keyframes changeOpBack{
    from{
        opacity: 0.02;
    }
    to{
        opacity: 1;
    }
}

.post-container:hover{
    opacity: 0.5;
}


.contentContainer #header{
    font-family: Raleway;
    color: #fff;
    font-size: 30px;
    margin-top: 100px;
    opacity: 1;
    z-index: 1;
    animation-name: changeOpBack;
    animation-duration: 1s;
}


.overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
    animation-name: hideButton;
    animation-duration: 1s;
}