
<div class="blog-main">


  <div class="row">
    <div class="columns small-12">
      <h1 id="pageHeader">BLO<span>G</span></h1>
      <p id="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>

  <div class="row" id="rowID">

    <div class="columns small-12 medium-6 large-4 posts" id="postColumn" *ngFor="let post of posts">
      <div class="post-container">

        <div class="row">
        <div class="backgroundImage">
          <img src="../../assets/images/buttons.jpg">
        </div>
        <div class="contentContainer">
        <div class="row">
          <div class="columns small-12">
            <h1 id="header" class="post-title">{{ post.title }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="columns small-12">
            <div class="overlay">
              <a routerLink="/post/{{ post._id }}" class="cta-btn btn">Dig deeper</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
  
  </div>
    
</div>


<!--<div class="columns small-12 medium-6 large-3" *ngFor="let post of posts"></div>-->

 <!--*ngFor="let post of posts"-->