@import url("https://fonts.googleapis.com/css?family=Raleway");

*{
    margin:0px;
    padding:0px;
    font-family: Raleway;
}

.container{
    position: fixed;
    width: 150px;
    height: 100%;
    background: transparent;
}

mat-sidenav-content{
    overflow: hidden;
}

mat-sidenav{
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    display: table;
    overflow: hidden;
 
}

mat-sidenav ul{
    text-align: center;
}
mat-sidenav ul li{
        float: left;
        padding: 0px 0;
        opacity: .5;
        width: 100%;
        transition: .3s ease;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 1.85em;
        color: #fff;
        list-style: none;
        padding: 5px 10px;
}

#toggleButton{
    font-size: 7em;
    font-weight: 700;
    width: 100%;
    text-align: center;
    line-height: 1em;
    -webkit-transform: rotate(0deg);
    transition: .3s ease-out;
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 1000001;
    opacity: .5;
    left: 0;
    position: relative;
    margin: 220px auto auto auto;
    color: #707070;
    background: transparent;
}

#toggleButton:hover{
    color: #08FDD8;
}

#logo{
    width: 80%;
    height: 80%;
    margin: 15px 0 0 15px;
    
}


.toggle.open-slide{
        -webkit-transform: rotate(224deg); 
        color: #fff;
        left: -100px;
}

mat-sidenav:hover{
    opacity: 1;
}

.push {
    margin-left: 240px;
    margin-right: -240px;
    transition: .3s ease-in;
}

