

<div class="home-main">
  <div class="row">
    <div class="columns small-12 medium-6">
      <div class="left-content">
      <h1 class="title contenteditable" id="main-title">
          <span id="first">Hi, </span>
          <span id="second">I'm </span><br>
          <div id="text">
            <ul class="list_items">
              <li class="list_items item">LASSI</li>
              <li class="list_items item">KORHONEN</li>
            </ul>
          </div>
          <br>
          <span id="fourth">Skilled designer and</span><br>
          <span id="fifth">developer</span>
      </h1>
        <div class="container btn-class">

          <a routerLink="/contact" class="cta-btn btn">
            Contact me
          </a>

          <a routerLink="/skills" class="cta-btn btn2">
            Browse my skills
          </a>
        </div>

        <p id="tag">Front-end/Back-end/Mobile/Design</p>

      </div>
    </div>
  <div class="columns small-12 medium-6">
    <div class="right-content">
      
    <img src="../../assets/images/Artboard 1.svg"> 
            
    </div>
    </div>
  </div>

  </div>




  