@import url("https://fonts.googleapis.com/css?family=Raleway");

.title{
    font-family: Raleway;
    font-weight: 900;
    margin-top: 200px;
    color: #fff;
    font-size: 40px;
    font-style: normal;
    -webkit-text-stroke-width: 3px;
    letter-spacing: 4px;
    margin-left: 5px;
}

.title #first:hover{
    transition: .9s;
    -webkit-animation: fontBounce 1s;
    -moz-animation: fontBounce 1s;
}
.title #second:hover{
    transition: .9s;
    -webkit-animation: fontBounce 1s;
    -moz-animation: fontBounce 1s;
}
.title #text:hover{
    transition: .9s;
    -webkit-animation: fontBounce 1s;
    -moz-animation: fontBounce 1s;
}
.title #fourth:hover{
    transition: .9s;
    -webkit-animation: fontBounce 1s;
    -moz-animation: fontBounce 1s;
}
.title #fifth:hover{
    transition: .9s;
    -webkit-animation: fontBounce 1s;
    -moz-animation: fontBounce 1s;
}

@-webkit-keyframes fontBounce{
    0%{
        font-size: 40px;
    }
    20%{
        font-size: 41.5px;
        letter-spacing: 6px;
    }
    60%{
        font-size: 41px;
        letter-spacing: -6px;
    }
    80%{
        font-size: 40.5px;
        letter-spacing: 4px;
    }
    100%{
        font-size: 40px;
    }
}
/*
.title span:nth-child(2){
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: typewriter2 4s steps(40, end);
    animation: typewriter2 4s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.title span:nth-child(3){
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: typewriter3 6s steps(40, end);
    animation: typewriter3 6s steps(40, end);
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.title span:nth-child(4){
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: typewriter4 8s steps(40, end);
    animation: typewriter4 8s steps(40, end);
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.title span:nth-child(5){
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: typewriter5 10s steps(40, end);
    animation: typewriter5 10s steps(40, end);
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes typewriter{
    0%{
        width: 0;
    }
    99.9%{
        border-right: .15em solid white;
    }
    100%{
        border: none
    }
}

@-webkit-keyframes typewriter{
    0%{
        width: 0;
    }
    99.9%{
        border-right: .15em solid white;
    }
    100%{
        border: none
    }
}

@keyframes typewriter2{
    0%{
        width: 0;
    }
    1%{
        opacity: 1;
    }
    99.9%{
        border-right: .15em solid white;
    }
    100%{
        opacity: 1;
    }
}


@-webkit-keyframes typewriter2{
    0%{
        width: 0;
    }
    1%{
        opacity: 1;
    }
    99.9%{
        border-right: .15em solid white;
    }
    100%{
        opacity: 1;
    }
}


@keyframes typewriter3{
    0% {
        width: 0;
      }
      1% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
}


@-webkit-keyframes typewriter3{
    0% {
        width: 0;
      }
      1% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
}


@keyframes typewriter4{
    0% {
        width: 0;
      }
      1% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
}


@-webkit-keyframes typewriter4{
    0% {
        width: 0;
      }
      1% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }

}


@keyframes typewriter5{
    0% {
        width: 0;
      }
      1% {
        opacity: 1;
      }
      100% {
        opacity: 1;
        opacity: 1;
      }
    
}


@-webkit-keyframes typewriter5{
    0% {
        width: 0;
      }
      1% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }

}*/


#text{
    color: #08FDD8;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:#08FDD8;
}

#tag{
    margin-top: 70px;
    margin-left: 5px;
    color: #707070;
    font-family: Raleway;
    opacity: 0.5;
}

.btn{
    border: 1px solid #08FDD8;
    background: transparent;
    padding: 14px 28px;
    cursor: pointer;
    color: #08FDD8;
    border-radius: 3px;
    font-family: Raleway;
    font-size: 1.2em;
    transition: .9s;
    overflow: hidden;
    margin-left: 5px;
    
}
.btn:focus{
    outline: none;
}
.btn:before{
    content: "";
    /*display: block;*/
    opacity: .3;
    filter: blur(60px);
    transform: translateX(-200px) skewX(-15deg);
}
.btn:after{
    content: '';
    /*display: block;*/
    opacity: 0;
    filter: blur(60px);
    transform: translate(-150px) scaleX(-15deg);
}
.btn:hover{
    background: #08FDD8;
    color: inherit;
    cursor: pointer;
}
.btn:hover:before{
    transform: translateX(300px) skewX(-40deg);
    opacity: .6;
    transition: .7s;
}
.btn:hover:after{
    transform: translateX(300px) skewX(-40deg);
    opacity: 1;
    transition: .7s;
}
.btn2{
    
    border: 1px solid #08FDD8;
    background: transparent;
    padding: 14px 28px;
    cursor: pointer;
    color: #08FDD8;
    font-family: Raleway;
    margin-left: 80px;
    border-radius: 3px;
    font-size: 1.2em; 
    transition: .9s;
    overflow: hidden; 
}

.btn2:focus{
    outline: none;
}
.btn2:before{
    content: "";
    /*display: block;*/
    opacity: .3;
    filter: blur(60px);
    transform: translateX(-200px) skewX(-15deg);
}
.btn2:after{
    content: '';
    /*display: block;*/
    opacity: 0;
    filter: blur(60px);
    transform: translate(-150px) scaleX(-15deg);
}
.btn2:hover{
    background: #08FDD8;
    color: inherit;
    cursor: pointer;
}
.btn2:hover:before{
    transform: translateX(300px) skewX(-40deg);
    opacity: .6;
    transition: .7s;
}
.btn2:hover:after{
    transform: translateX(300px) skewX(-40deg);
    opacity: 1;
    transition: .7s;
}

.btn-class{
    margin-top: 67px;
}

.st0{stroke:#000000;stroke-miterlimit:10;}
.st1{enable-background:new    ;}
.st2{clip-path:url(#SVGID_2_);enable-background:new    ;}
.st3{fill:#337C66;}
.st4{fill:#317963;}
.st5{fill:#2F7661;}
.st6{fill:#357E68;}
.st7{clip-path:url(#SVGID_4_);enable-background:new    ;}
.st8{clip-path:url(#SVGID_6_);enable-background:new    ;}
.st9{fill:#2E735F;}
.st10{clip-path:url(#SVGID_8_);enable-background:new    ;}
.st11{fill:#858585;}
.st12{clip-path:url(#SVGID_10_);enable-background:new    ;}
.st13{clip-path:url(#SVGID_12_);enable-background:new    ;}
.st14{fill:#8F8F8F;}
.st15{fill:#8A8A8A;}
.st16{fill:#949494;}
.st17{fill:#808080;}
.st18{clip-path:url(#SVGID_14_);enable-background:new    ;}
.st19{clip-path:url(#SVGID_16_);enable-background:new    ;}
.st20{clip-path:url(#SVGID_18_);enable-background:new    ;}
.st21{clip-path:url(#SVGID_20_);enable-background:new    ;}
.st22{clip-path:url(#SVGID_22_);enable-background:new    ;}
.st23{fill:#2E735E;}
.st24{fill:#327964;}
.st25{clip-path:url(#SVGID_24_);enable-background:new    ;}
.st26{clip-path:url(#SVGID_26_);enable-background:new    ;}
.st27{clip-path:url(#SVGID_28_);enable-background:new    ;}
.st28{fill:#54B494;}
.st29{fill:#F4F4F4;}
.st30{clip-path:url(#SVGID_30_);enable-background:new    ;}
.st31{clip-path:url(#SVGID_32_);enable-background:new    ;}
.st32{fill:#888888;}
.st33{fill:#EBEBEB;}
.st34{fill:#8C8C8C;}

.left-content{
    grid-area: left;
}
.right-content{
    grid-area: right;
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
}
svg{
    width: 500px;
    height: 500px;
    display: block;
    margin: auto;
    margin-top: 100px;
}

svg #browser-logo{
    animation-duration: 1.2s;
    animation-name: animateLogo;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animateLogo{
    from{
        transform: translateX(0) translateY(0);
        opacity: 0;
    }
    to{
        transform: translateX(30px) translateY(-15px);
        opacity: 1;
    }
}


